.App {
  text-align: center;
}

#preview,
.markdown-input
#editor {
  width: 400px;
  height: 70vh;
  border: 1px solid black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 150px;
  width: 250px;
}

