.preview,
.markdown-input,
.textareaWrapper {
  width: 600px;
  height: 50vh;
  border: 1px solid black;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #373d49;
  color: #35d7bb; 
}

.textarea {
  min-height: 400px;
  width: 100%;
}

.title {
  margin-bottom: 0;
  font-size: 2rem;
}

.preview {
  height: 115vh;
  text-align: left;
}

.preview li {
  margin-left: 0;
}

.preview img {
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.button {
  margin-bottom: 30px;
  height: 35px;
  width: 200px;
  background-color: #373d49;
  color: #35d7bb;
  border-radius: 6px;
  font-size: 1.3rem;
}


